body {
  background-color: #F5EFE6;
}
hr {
  border-color: #9F8772;
  border-style: none;
  border-top-style: dotted;
  height: 5px;
  border-width: 5px;
  width: 70%;
}
h1 {
  color: #1B1A17;
}
h2 {
  color: #1B1A17; 
}
